<!DOCTYPE html>
<html lang="en">
    <head>
        <%-include("../layout/head", {title: "Quên mật khẩu"})%>
    </head>

    <body>
        <!-- Top bar Start -->
        <%-include("../layout/menu")%>
        <!-- Bottom Bar End --> 
        
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            
                    <li class="breadcrumb-item active">Đăng nhập</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        <!-- Login Start -->
        <div id="wrapper" class="login">
            <div  class="container-fluid">
                <div  class="row">
                    <div  class="col-lg-6 mx-auto">
                        <form role="form" method="post">
                            <div id="loginsite" class="login-form">
                                <div class="row">
                                    <legend class="text-center"><b>Tìm tài khoản của bạn</b><hr></legend>
                                    
                                    <% if(error){%>
                                        <div class="col-md-12 alert alert-danger"><%=error%></div>
                                    <% }%>
                                    <div class="col-md-12">
                                        <label>Vui lòng nhập email tìm kiếm tài khoản của bạn.</label>
                                        <input class="form-control" name="email" type="email" required placeholder="Nhập email" autofocus>
                                    </div>
                                    
                                    <div class="col-md-12 text-center">
                                        <button class="btn" type="submit">Tìm kiếm</button>
                                    </div>
                                </div>
                            </div>
                        </form>    
                    </div>
                </div>
            </div>
        </div>
        <!-- Login End -->
        <style>
            #btnregistersite{
                margin-top: 20px;
            }
            #registersite{
                background :#ec1d1d;
                
            }   
        </style>
        
        <!-- Footer Start -->
        <%-include("../layout/footer")%>
        <script>
            $('#registersite').click(function() {
            window.location.href = '/register';
            return false;
            });
        </script>
    </body>
</html>
