<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <form role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
        </div>
    </form>
    <ul class="nav menu">
        <li class="active"><a href="/admin"><svg class="glyph stroked dashboard-dial">
                    <use xlink:href="#stroked-dashboard-dial"></use>
                </svg>Trang chủ admin</a></li>
        <li><a href="/admin/users"><svg class="glyph stroked male user ">
                    <use xlink:href="#stroked-male-user" />
                </svg>Quản lý thành viên</a></li>
        <li><a href="/admin/categories"><svg class="glyph stroked open folder">
                    <use xlink:href="#stroked-open-folder" />
                </svg>Quản lý danh mục</a></li>
        <li><a href="/admin/products"><svg class="glyph stroked bag">
                    <use xlink:href="#stroked-bag"></use>
                </svg>Quản lý sản phẩm</a></li>
        <li><a href="/admin/comments"><svg class="glyph stroked two messages">
                    <use xlink:href="#stroked-two-messages" />
                </svg> Quản lý bình luận</a></li>
        <li><a href="/admin/advertisements"><svg class="glyph stroked chain">
                    <use xlink:href="#stroked-chain" />
                </svg> Quản lý quảng cáo</a></li>
       
        <li><a href="/admin/blogs"><svg class="glyph stroked app window with content"><use xlink:href="#stroked-app-window-with-content"/></svg>

                </svg> Quản lý bài viết</a></li>

        <li class="parent "><a data-toggle="collapse" href="#sub-item-1">
				<em class="fa fa-navicon"></em><svg class="glyph stroked clipboard with paper"><use xlink:href="#stroked-clipboard-with-paper"/></svg>
                Quản lý đơn hàng <svg class="glyph stroked chevron down"><use xlink:href="#stroked-chevron-down"/></svg><span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="fa fa-plus"></em></span>
				</a>
				<ul class="children collapse" id="sub-item-1">
					<li><a class="" href="/admin/orders">
						<span class="fa fa-arrow-right">&nbsp;</span><svg class="glyph stroked plus sign"><use xlink:href="#stroked-plus-sign"/></svg>Đơn hàng mới đặt
					</a></li>
					<li><a class="" href="/admin/ordertransport">
						<span class="fa fa-arrow-right">&nbsp;</span><svg class="glyph stroked plus sign"><use xlink:href="#stroked-plus-sign"/></svg>Vận chuyển
					</a></li>
					
				</ul>
		</li>

        <li class="parent "><a data-toggle="collapse" href="#sub-item-2">
            <em class="fa fa-navicon"></em><svg class="glyph stroked clipboard with paper"><use xlink:href="#stroked-clipboard-with-paper"/></svg>
            Thống kê &emsp;<svg class="glyph stroked chevron down"><use xlink:href="#stroked-chevron-down"/></svg><span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="fa fa-plus"></em></span>
            </a>
            <ul class="children collapse" id="sub-item-2">
                <li><a class="" href="/admin/orders">
                    <span class="fa fa-arrow-right">&nbsp;</span><svg class="glyph stroked plus sign"><use xlink:href="#stroked-plus-sign"/></svg>Đơn hàng mới đặt
                </a></li>
                <li><a class="" href="/admin/ordertransport">
                    <span class="fa fa-arrow-right">&nbsp;</span><svg class="glyph stroked plus sign"><use xlink:href="#stroked-plus-sign"/></svg>Vận chuyển
                </a></li>
                
            </ul>
    </li>
        
    </ul>
    
</div>