<!DOCTYPE html>
<html lang="en">
    <head>
        <%-include("layout/head", {title: "Tất cả sản phẩm"})%>
    </head>

    <body>
        <!-- Top bar Start -->
        <%-include("layout/menu")%>
        <!-- Bottom Bar End -->  
        
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                    <li class="breadcrumb-item active">24h công nghệ</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        <!-- Product List Start -->
        <div class="product-view">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="row">
                          
                            <div class="col-md-12 bloglink">
                                <div >
                                   <a> <img href="#" id="imgleft" class="card-img-top" src="/static/site/img/dang.jpg" alt="Card image cap" width="200px" height="125px"></a>
                                    <h5 class="card-title titlecom"><a id="idcontent" href="#">Some quick example text to build on the card title and make up the bulk of the card's content.</a></h5>
                                    <p class="timepost">17/05/2021</p>
                                    
                                </div>
                            </div>
                            <div class="col-md-12 bloglink">
                                <div >
                                        <img id="imgleft" class="card-img-top" src="/static/site/img/dang.jpg" alt="Card image cap" width="200px" height="125px">
                                        <h5 class="card-title titlecom">Some quick exampadding: 15px 0; padding: 15px 0;e cardpadding: 15px 0;padding: 15px 0;padding: 15px 0; title and make up the bulk of the card's content.build on the</h5>
                                        <p class="timepost"> 17/05/2021</p>
                                       
                                </div>
                            </div>
                            <div class="col-md-12 bloglink">
                                <div >
                                    <img href="#" id="imgleft" class="card-img-top" src="/static/site/img/dang.jpg" alt="Card image cap" width="200px" height="125px">
                                    <h5 class="card-title titlecom"><a id="idcontent" href="#">Some quick example text to build on the card title and make up the bulk of the card's content.</a></h5>
                                    <p class="timepost">17/05/2021</p>
                                    
                                </div>
                            </div>
                                      
                        </div>
                        
                        <!-- Pagination Start -->
                        <div class="col-md-12 pageblog">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">&laquo;</a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">&raquo;</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                       
                    </div>           
                    
                    <!-- Side Bar Start -->
                    <%-include("layout/sidebar")%>
                    <!-- Side Bar End -->
                </div>
            </div>
        </div>
        <!-- Product List End -->  
        
        <!-- Brand Start -->
        <div class="brand">
            <div class="container-fluid">
                <div class="brand-slider">
                  <a>â</a>
                </div>
            </div>
           
        </div>
        <!-- Brand End -->
        
        <!-- Footer Start -->
        <%-include("layout/footer")%>
        
        
        <style>
           #imgleft{
            float:left;
            width:200px;
            height:125px;
           }
           #cardbody{
            float:right;
           }
           .bloglink{
            background: white;
            padding: 15px 0;
            border-bottom: 1px solid #eee;
           }
           .titlecom {
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                overflow: hidden;
                padding-left: 10px;
            }
            .timepost {
                display: block;
                overflow: hidden;
                font-size: 12px;
                color: #999;
                padding-left: 10px;
                margin: 0;
            }
            .pageblog{
                margin-top: 20px;
            }
            #idcontent{
                color :#333333;
                font-weight: bold;
                font-style: normal;
            }
            #idcontent:hover{
                color: #288ad6;
            }
           
        </style>
    </body>
</html>
